<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<link rel="stylesheet" href="css/global.css" type="text/css"/>
<link rel="stylesheet" href="scss/global.css" type="text/css"/>
<link rel="stylesheet" href="scss/home.css" type="text/css"/>
<style type="text/css">

</style>
<body>
<div class="top-nav">
    <div class="container top-nav-container">
        <ul class="top-nav-ul">
            <li><a href="home.html">首页</a></li>
            <li><a href="category.html">分类</a></li>
            <li><a href="archive.html">归档</a></li>
            <li><a href="about.html">关于</a></li>
            <li><a href="link.html">友链</a></li>
            <!--        <li><a href="#">登录</a></li>-->
            <li class="pull-down" @mouseenter="isShow = !isShow" @mouseleave="isShow = !isShow">
                <img class="nav-head" src="img/bear.jpeg"><a href="#">陈辰</a><span class="pull-down-ico"></span>
                <ul class="nav-pulldown" v-show="isShow">
                    <li><a href="info.html">个人中心</a></li>
                    <li><a href="#">退出登录</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="small-nav">
        <button class="menuSAndH" v-on:click="isShow = !isShow"></button>
        <ul class="snav-ul" v-show="isShow">
            <li><a href="home.html">首页</a></li>
            <li><a href="category.html">分类</a></li>
            <li><a href="archive.html">归档</a></li>
            <li><a href="about.html">关于</a></li>
            <li><a href="link.html">友链</a></li>
            <li><img class="nav-head" src="img/bear.jpeg">陈辰<span class="pull-down-ico"></span></li>
            <li><a href="#">个人中心</a></li>
            <li><a href="#">退出登录</a></li>
        </ul>
    </div>
</div>
<div class="center-bar">
    <div class="container">
        <div class="articles-bar main" id="article">
            <div v-for="articles in pageInfo.list">
                <div class="article-cover-pic">
                    <img :src="articles.article.articleCoverUrl">
                </div>
                <div class="article-brief">
                    <h3 class="article-title">{{articles.article.articleName}}</h3>
                    <div class="title-spans">
                        <span>{{articles.article.gmtCreate}}</span>
                        <span>{{articles.creator.user.userName}}</span>
                        <span>{{articles.article.articleReading}}次浏览</span>
                    </div>
                    <p class="content-brief"> {{articles.article.articleDescription}}</p>
                    <div class="article-tags">
                        <span v-for="categories in articles.categories">#{{categories.category.categoryContent}}</span>
                    </div>
                </div>
            </div>
            <ul class="pagination">
                <li :class="{'hide':!pageInfo.hasPreviousPage}">
                    <a href="#" v-on:click="btnClick(pageInfo.prePage)">&laquo;</a>
                </li>
                <li v-for="page in pageInfo.navigatepageNums"
                    :class="{'active':page === pageNum}">
                    <a href="#" v-on:click="btnClick(page)">
                        {{page}}
                    </a>
                </li>
                <li :class="{'hide':!pageInfo.hasNextPage}">
                    <a href="#" v-on:click="btnClick(pageInfo.nextPage)">&raquo;</a>
                </li>
            </ul>

        </div>
        <div class="right-sidebar sidebar">
            <div id="category" class="partOfsidebar">
                <h2 class="sidebar-title">文章分类</h2>
                <ul class="sidebar-ul" v-for="categories in categoryList">
                    <li>{{categories.category.categoryContent}}</li>
                </ul>
            </div>

            <div id="latest-comment" class="partOfsidebar">
                <h2 class="sidebar-title">最新评论</h2>
                <ul class="sidebar-ul" v-for="comments in commentList">
                    <li>{{comments.comment.commentContent}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="webpage-footer">
</div>
</body>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/global.js"></script>
<script src="js/axios.js"></script>

<!--suppress JSAnnotator -->
</html>
<script type="text/javascript">
    new Vue({
            el: '#latest-comment',
            data() {
                return {
                    commentList: [""]
                }
            },
            mounted() {
                axios.get('/comment/latest')
                    .then(response => {
                        this.commentList = response.data.resource.list;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        }
    );
    new Vue({
            el: '#category',
            data() {
                return {
                    categoryList: [""]
                }
            },
            mounted() {
                axios.get('/category/all')
                    .then(response => {
                        this.categoryList = response.data.resource;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        }
    );

    new Vue({
            el: '#article',
            data() {
                return {
                    pageInfo: [""],
                    pageNum: 0
                }
            },
            methods: {
                btnClick: function (nextPage) {
                    axios.get('/article/all', {
                        params: {
                            pageNum: nextPage
                        }
                    })
                        .then(response => {
                            this.pageInfo = response.data.resource;
                            this.pageNum = this.pageInfo.pageNum;
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                }
            },
            mounted() {
                axios.get('/article/all')
                    .then(response => {
                        this.pageInfo = response.data.resource;
                        this.pageNum = this.pageInfo.pageNum;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        }
    );
</script>
