
$bgcolorL: #9da9b8;
$bgcolorR: #ead0d1;

#HALF-L{
  background-color: $bgcolorL;
  left: 0;
}
#HALF-R{
  background-color: $bgcolorR;
  right: 0;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
  .main{
    width: 100%;
  }
  .right-sidebar{
    display: none;
  }
  .small-nav{
    display: inline;
  }
  .top-nav-container{
    display: none;
  }
  .article-title{
    font-size: 22px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .main{
    width: 750px;
  }
  .right-sidebar{
    display: none;
  }
  .small-nav{
    display: none;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
  .main{
    width:670px;
  }
  .right-sidebar{
    display: inline;
    width:275px;
  }
  .small-nav{
    display: none;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
  .main{
    width:696px;
  }
  .right-sidebar{
    display: inline;
    width:296px;
  }
  .small-nav{
    display: none;
  }
}

$nav-height:70px;
$navButton-height:48px;
.top-nav{
  height:$nav-height;
}
.top-nav-ul{
  height: $nav-height;
}

.menuSAndH{
  width: $navButton-height;
  height: $navButton-height;
  top:($nav-height - $navButton-height)/2;
  right:15px;
  position: absolute;
}

.top-nav-ul li{
  height: $nav-height;
  line-height: $nav-height;
}

$pullDown-height:48px;
.nav-pulldown li{
  height:$pullDown-height;
  line-height: $pullDown-height;
}


$border-grey: solid 1px #efefef;
.top-nav,.snav-ul{
  border-bottom: $border-grey;
}
.partOfsidebar,.article,.article-content,.snav-ul,.write-comment,.comments{
  border: $border-grey;
}


$marginBottom:25px;
.articles-bar .article{
  margin-bottom: $marginBottom;
}
.partOfsidebar{
  margin-bottom:$marginBottom ;
}

